*{margin:0px; padding:0px;}
body{
	width:100%;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#container{
	width:960px;
	height:auto;
	margin:0 auto;
}
.clear{
	clear:both;
}


/*top*/
#top{
	width:auto;
	height:30px;
	margin:50px 0 20px 0;
	background:url(../Account/images/login-top.jpg) repeat-x;
}

/*页面标题，找回密码*/
.pagetitle{
	width:960px;
	height:40px;
	margin:30px 0 30px 0;
	line-height:40px;
}
.pagetitle h2{
	color:#006666;
	margin:0 0 0 530px;
}



.fetchpwd{
	width:960px;
	height:380px;
}

.fetchpwdleft{
	float:left;
	width:450px;
	margin:0 30px 0 20px;
}

.fetchpwdright{
	width:400px;
	float:right;
	margin:0 30px 0 0;
}

.method{
	font-size:14px;
}


.findpwd{
	background:transparent;
	border:1px solid  #006666;
	width:200px;
	height:30px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#subbtn{
	color:#FFFFFF;
	width:200px;
	height:30px;
	display:block;
	text-align:center;
	line-height:30px;
	background:url(../Account/images/subbtn.png) no-repeat;
}