<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyh.hotel_api.dao.IOrderListDao">
<!--OrderList页面 获取所有的订单-->
    <select id="getOrderList" resultType="map" parameterType="map">
        SELECT od.*,hu.HOUSE_NAME,hu.HOUSE_CITY
        FROM tb_order as od,tb_house as hu
        WHERE od.HOUSE_ID = hu.HOUSE_ID AND
        od.USER_ID = #{userId}
    </select>

    <update id="cancelOrder" parameterType="String">
        UPDATE tb_order SET ORDER_STATUS = -1 WHERE ORDER_ID = #{orderId}
    </update>
</mapper>